.theme-grey {
    --dark:rgb(55,55,55);
    --strong:rgb(242,242,242);
    --light:white;
}
.theme-red {    
    --dark:rgb(77,0,0);
    --strong:rgb(255, 0, 0);
    --light:rgb(255, 242, 242);
}
.theme-orange {
    --dark:rgb(44,33,0);
    --strong:rgb(255, 191, 0);
    --light:rgb(255,211,77);
}
.theme-yellow {
    --dark:rgb(85, 93, 0);
    --strong:rgb(234, 255, 0);
    --light:rgb(255, 255, 121);
}
.theme-green {
    --dark:rgb(0,66,44);
    --strong:rgb(0, 255, 170);
    --light:rgb(233, 255, 248);
}
.theme-blue {
    --dark:rgb(0,22,66);
    --strong:rgb(0, 85, 255);
    --light:rgb(201, 219, 255);
}
.theme-indigo {
    --dark:rgb(44,0,99);
    --strong:rgb(115, 0, 255);
    --light:rgb(233, 211, 255);
}
.theme-violet {
    --dark:rgb(66,0,44);
    --strong:rgb(255, 0, 170);
    --light:rgb(255, 233, 248);
}

* {
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: medium;
    background-color: var(--light);
    color: var(--dark);
    text-shadow: 0 0 1px var(--strong);
}

nav {
    height: 100px;
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.color {
    display: flex;
}

.navbox {
    background-color: inherit;
    color: inherit;
    display: flex;
    justify-content: space-around;
}

h1 {
    background-color: inherit;
    color: inherit;
    font-size: large;
    font-weight: 700;
    padding-top: 25px;
}

h2 {
    background-color: inherit;
    color: inherit;
    font-weight: 700;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.red {
    background-color: rgb(255, 0, 0);
    width: 10px;
    height: 100%
}

.orange {
    background-color: rgb(255, 191, 0);
    width: 10px;
    height: 100%
}

.yellow {
    background-color: rgb(234, 255, 0);
    width: 10px;
    height: 100%
}

.green {
    background-color: rgb(0, 255, 170);
    width: 10px;
    height: 100%
}

.blue {
    background-color: rgb(0, 85, 255);
    width: 10px;
    height: 100%
}

.indigo {
    background-color: rgb(115, 0, 255);
    width: 10px;
    height: 100%
}

.violet {
    background-color: rgb(255, 0, 170);
    width: 10px;
    height: 100%
}

.black {
    background-color: rgb(55,55,55);
    width: 10px;
    height: 100%
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 600px;
}

main div {
    align-items: center;
    align-content: center;
    padding: 50px
}

article {
    align-items: center;
    align-content: center;
    text-align: center;
}

footer {
    background-color: var(--dark);
    color: var(--light);
    width: 100%;
}

.footerlinks {
    background-color: inherit;
    color: inherit;
    display: flex;
    justify-content: center;
}

.footerlinks a {
    background-color: inherit;
    color: inherit;
    padding: 10px;
}

.footerlinks a img {
    background-color: inherit;
    color: inherit;
}

.footerlinks a img {
    background-color: inherit;
    color: inherit;
    height: 20px;
    width: 20px;
    padding: 10px;
}

.footersignature {
    background-color: inherit;
    color: inherit;
    text-align: right;
}

.footersignature div {
    background-color: inherit;
    color: inherit;
    font-weight: 300;
    font-size: x-small;
    padding: 5px;
}

@media screen and (max-width: 1000px) {
    nav {
        height: 200px;
    }

    .navbox {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    h1 {
        font-size: medium;
    }
    
    h2 {
        font-size: medium;
        padding-top: 0px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 500px) {
    nav {
        height: 200px;
    }

    .navbox {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    h1 {
        font-size: small;
        font-weight: 500;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    h2 {
        font-size: small;
        font-weight: 500;
        padding-left: 10px;
        padding-right: 10px;
    }
}